.password-generator {
  max-width: 900px;
  margin: 0 auto;
  padding: 200px; /* Add padding for inner content */
  background-color: rgba(126, 122, 122, 0.479); /* Add background color with opacity */
  border-radius: 100px; /* Add border radius */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.986); /* Add box shadow */
  font-size: 20px;
}

.options {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.password-field {
  display: flex;
  align-items: center;
}

.password-field input {
  flex: 1;
  margin-right: 10px;
}

.password-field button {
  padding: 12px 24px; /* Increase padding */
  border: none;
  border-radius: 4px;
  background-color: #000000; /* Change background color to black */
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-size: 18px; /* Increase font size */
  font-weight: bold; /* Add font weight */
}

.password-field button:hover {
  background-color: #383838;
}
