.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .profile-form {
    width: 450px; /* Adjust width as needed */
    padding: 30px;
    border: 3px solid #000000;
    border-radius: 8px;
    background-color: #55535365;
  }
  
  .profile-form input {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: 5px solid #000000;
    border-radius: 4px;
  }
  
  .profile-form button {
    width: 100%;
    padding: 20px;
    background-color: #747474;
    color: #000000;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .profile-form button:hover {
    background-color: #a5a5a5;
  }
  